{% extends "base.html" %}
{% load static %}

{% block content %}

<div class= "hero-image">
    
    <div class="hero-comment">
        <p>
            Getting ready to be fit!
        </p>
        <a class="btn btn-primary" href="/products/memberships">Join Now!</a>
    </div> 
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="static/images/why-us.jpg" alt="">
        </div>
        <div class="col">
            <p>We are proud of the results and transformations from our client! This ensure by careful monitoring and adjusting their programs and most important giving them an space to improve.</p>
            <p>Join us for a free trial if you want to know more</p>
            <button type="button" class="btn btn-primary">Free Trial</button>
        </div>
    </div>       
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col">
            <div>
               <h1>
                <i class="fa-solid fa-heart"></i>
               </h1> 
                <p>Improve your overall health</p>
            </div>
            <div>
                <h1>
                    <i class="fa-solid fa-ranking-star"></i>
                </h1>
                <p>Get social by participating in our monthly challenges</p>
            </div>
            <div>
                <h1>
                    <i class="fa-solid fa-medal"></i>
                </h1>
                <p>Achieve your goals!</p>
            </div>
            <div>
                <h1>
                    <i class="fa-sharp fa-solid fa-dumbbell"></i>
                </h1>
                <p>Get stronger!</p>
            </div>
        </div>
        <div class="col">
            <img class="img-fluid" src="static/images/results.jpg" alt="">
        </div> 
    </div>
</div>
{% endblock%}