{% extends "base.html" %}
{% load static %}

{% block content %}

<div class=" hero-image">
    
    <div class="hero-comment">
        <p>
            Getting ready to be fit!
        </p>
        <button type="button" class="btn btn-primary">Join Now</button>
    </div> 
</div>

<div class="container">
    <div>
        Display image
    </div>
    <div>
        Why us Text and button 
    </div>
</div>

<div class="container">
    <div>
        display image
    </div>
    <div>
        icon list and text for benefit
    </div>
</div>
{% endblock%}