{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="wrapper container bg-light">
{% if cart_items %}
    <div class="table-responsive rounded">
        <table class="table table-borderless">
            <thead class="border-bottom">
                <tr>
                    <th scope="col">Product Info</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            
            {% for item in cart_items %}
                <tr class="border-bottom border-dark">
                    <td class="p-2">
                        <p>{{ item.product.name }}</p>
                    </td>
                    <td class="p-2">
                        <p>{{ item.product.price }}</p>
                    </td>
                    <td class="p-2">
                        <p>{{ item.quantity }}</p>
                    </td>
                    <td class="p-2">
                        <p>{{ item.total }}</p>
                    </td>
                    <td class="p-2">
                        <a href="{% url 'remove_from_cart' item.product.id %}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            <tfoot>
                <td></td>
                <td></td>
                <td>
                    <p>Total</p>
                </td>
                <td>
                    <p> {{ cart_total }}</p>
                </td>
            </tfoot>
        </table>
    </div>
    <div>
        <a class="btn btn-primary" href="/products/store">Keep Shooping</a>
        <a class="btn btn-primary" href="/checkout/">Checkout</a>
    </div>
</div>

{% endif %}
{% endblock %}